

::ng-deep {
  .large-dialog {
    width: 60%;
    box-shadow: none;
    .p-dialog-content {
      background-color: transparent;
      padding: 0!important;
      overflow: hidden;
    }
    .video-player-wrapper {
      margin: auto;
      overflow: hidden;
    }
  }


  .dark-dialog-mask {
    background-color: rgba($color: #000000, $alpha: 0.75)!important;
  }

  @media screen and (max-width: 600px) {
    .p-dialog{
      width: 90%;
    }
  }

}


