<div class="video-player-wrapper">
  <div class="inline-block mb-2 cursor-pointer" style="color:var(--orange-mrc)" (click)="skip()" *ngIf="control.navigationMode !== 'secondary'">
    <fa-stack>
      <fa-icon [icon]="['fas', 'circle']" stackItemSize="2x"></fa-icon>
      <fa-icon [icon]="['fas', 'times']"  [inverse]="true" stackItemSize="1x"></fa-icon>
    </fa-stack>
    Fermer la vidéo
  </div>
  <vg-player (onPlayerReady)="onPlayerReady($event)" [style.border-radius.px]="6">
    <vg-overlay-play></vg-overlay-play>
    <video #media
        [vgMedia]="$any(media)"
        src="{{videoUrl}}"
        id="singleVideo"
        type="video/mp4"
        preload="auto"
        autoplay="true"
        crossorigin
        >
    </video>
  </vg-player>
</div>
