::ng-deep {
  .p-tree {
    border: none;
    padding: 0;
    .p-treenode-content {
      padding-left: 0!important;
      &:focus {
        box-shadow: none!important;
      }
    }
    .p-tree-toggler-icon, .p-treenode-icon {
      font-size: 1.5em;
    }
    .p-treenode {
      padding: 0.15rem 0 0.15rem 0!important;
    }
    .p-treenode-label {
      width: 100%!important;
    }
  }
  .p-autocomplete {
    width: 100%!important;
  }

  .header {
    font-family: 'Caveat Brush','Noto Serif', sans-serif!important;
    font-size: 3em;
  }
  .p-fileupload-choose {
    font-size: 0.875rem;
     padding: 0.65625rem 1.09375rem;
     margin: 0.1rem 0.25rem;
  }
}
