
:host {
  font-family: var(--font-family-2)!important;
  .content {
    height: calc(100% - var(--navbar-height));
    .border-bottom-1 {
      border-color: #1c096b;
    }
    .use-list {
      box-shadow: 13px 16px 10px 10px rgba(0, 0, 0, 0.3);
      .use-item {
        color: var(--blue-mrc);
      }
    }
  }
}
