
<div class="pt-2 pb-3 px-6 flex align-items-center justify-content-between surface-ground">
  <img src="assets/img/logo_mrc.svg" alt="Image" class="mr-0 lg:mr-4 border-round-md  md:w-1">
  <a pRipple class="cursor-pointer block lg:hidden text-700" pStyleClass="@next" enterClass="hidden" leaveToClass="hidden" [hideOnOutsideClick]="true">
      <i class="pi pi-bars text-4xl"></i>
  </a>
  <div class="hidden lg:flex absolute lg:static left-0 top-100 z-1 shadow-2 lg:shadow-none w-full">
    <p-menubar [model]="menuItems" class="w-full" styleClass="border-none surface-ground">
      <ng-template pTemplate="end">
        <p-button icon="pi pi-fw pi-sign-out" (click)="signout()" size="small" severity="secondary" [outlined]="true"></p-button>
      </ng-template>
    </p-menubar>
  </div>
</div>
<div class="surface-section px-2">
  <router-outlet></router-outlet>
</div>
<p-toast></p-toast>
