@import "primeflex/primeflex.css";


//$sm: 576px !default;
//$md: 768px !default;
//$lg: 992px !default;
//$xl: 1200px !default;

:root {
  html {
    font-size: 1rem;
  }

  body {
    background-color: var(--surface-ground);
    color: var(--text-color);
    padding: 0;
    margin: 0;
    height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--font-family-2);

  }

  --font-family-1: 'Open Sans', sans-serif;
  --font-family-2: 'Patrick Hand', cursive;

  --blue-mrc: #1C096B;
  --orange-mrc: #ff5738;
  --green-mrc: #01afad;
  --blue-light-mrc: #3A34DA;

  --navbar-height: 8rem;

  .bg-transparent {
    background-color: transparent !important;
  }

  .bg-blue-mrc {
    background-color: var(--blue-mrc);
  }
  .p-button {
    &.p-button-small {
      height: 1.9rem !important;
      width: 1.9rem !important;
      font-size: 0.8rem !important;
    }
    &.p-button-orange-mrc {
      background: var(--orange-mrc);
      color: white;
      border: 1px solid var(--orange-mrc);
      &:hover,
      &:focus {
        box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--orange-mrc), 0 1px 2px 0 black !important;
      }
    }
  }
}
