<div class="border-1 border-round surface-border w-11 md:w-8 mx-auto mt-2 md:mt-6 shadow-7" *ngIf="use">
  <div class="text-2xl md:text-4xl p-3 md:px-6 md:py-4 block text-white flex justify-content-between  align-items-center"
    style="font-family: var(--font-family-2);" [ngStyle]="{backgroundColor: use.items[0].room.mainColor}">
    <span>{{use.title}}</span>
    <img [src]="use.items[0].image" class="ml-2 md-m-0 item-picture">
  </div>
  <div class="bg-white p-3 md:px-6 md:py-3">
    <p class="mt-0 line-height-3 pt-0 md:pb-2" [innerHtml]="use.description | safeHtml"
      style="font-family: var(--font-family-1);"></p>
    <div class="flex flex-wrap justify-content-between" style="font-family: var(--font-family-1);">
      <div class="border-2 mb-4 p-3 md:p-4 relative shadow-2 w-11 md:w-5" [ngStyle]="{
              'border-color': basket.contains(service) ? 'var(--surface-700)' : 'var(--orange-mrc)',
              'opacity': basket.contains(service) ? '0.5' : '1.0',
            }"
            [ngClass]="{'w-11' : !basket.contains(service), 'w-12' : basket.contains(service)}"
            *ngFor="let service of use.services">
        <span class="mt-1 font-bold">{{ service.title }} <span *ngIf="service.scope"><i
              class="pi pi-map-marker mx-1"></i>{{service.scope}}</span></span>
        <p class="mt-0 text-sm line-height-2" [innerHtml]="service.description | safeHtml"></p>
        <!-- <i class="pi pi-globe mr-2"></i> -->
        <a href="{{service.url}}" style="color:inherit;word-break: break-all;" target="_blank"
          class="text-sm font-italic font-bold">{{ service.url }}</a>

        <span class="bg-white absolute cursor-pointer" style="top: 50%; right: 0; transform: translate(50%, -50%);"
          (click)="basket.add(service)" *ngIf="!basket.contains(service)">
          <img src="assets/img/picto_list_plus.svg" width="42px">
        </span>
      </div>
    </div>
    <p *ngIf="use.services.length === 0" class="m-0">Aucun service n'a été lié à cet usage</p>
  </div>
</div>
